<div class="row justify-content-center mt-3">
  <div class="col-lg-10 col-xl-8" *ngIf="!isLoadingTeacher">
    <div class="card">
      <div class="card-header">
        <h5>Преподаватель
          <b>{{viewedTeacher.fullName}}</b>
        </h5>
      </div>

      <div class="card-body">
        <app-years-list (onSelect)="viewTeaches($event);" [years]="viewedTeacher.teachingYears" [semesterIdFromUrlStringToSelect]="semesterId">
        </app-years-list>

        <div *ngIf="!isLoadingTeaches" class="row">
          <app-teaches-item class="col-12 col-sm-6 col-md-4 col-lg-3 mt-3" *ngFor="let teaches of displayTeaches" [teaches]="teaches"
            [moderAccess]="moderAccess">
          </app-teaches-item>
        </div>

        <div *ngIf="isLoadingTeaches" class="row mt-3">
          <div class="loader"></div>
        </div>
      </div>
    </div>
  </div>

  <div class="card col-lg-10 col-xl-8" *ngIf="isLoadingTeacher">
    <div class="loader"></div>
  </div>
</div>
