<div class="page-header">
  <h1 class="page-title">Журнал</h1>
</div>

<div class="card" *ngIf="!isLoadingTeaches">
  <div class="card-body">
    <div class="row">
      <div class="col-6">
        <div class="card">
          <div class="card-header">Преподаватель</div>
          <div class="card-footer">{{teaches.teacher.fullName}}</div>
        </div>
      </div>
      <div class="col-6">
        <div class="card">
          <div class="card-header">Группа</div>
          <div class="card-footer">{{teaches.group.title}}</div>
        </div>
      </div>
    </div>

    <div>
      <table class="table">
        <thead>
          <tr>
            <th></th>
            <th *ngFor="let lesson of teaches.lessons" class="text-center">{{lesson.date | date:'d.MM'}}</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let student of studentsWithGrades">
            <td>{{student.shortFullName}}</td>
            <td *ngFor="let grade of student.grades" class="p-0">
              <app-journal-cell [grade]="grade" [currentDate]="currentDate" [moderAccess]="true"></app-journal-cell>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>



<div class="card" *ngIf="isLoadingTeaches">
    <div class="card-body d-flex justify-content-center align-items-center">
      <div class="mt-5 mb-5">
        <div class="loader"></div>
      </div>
    </div>
  </div>
