<div class="card">
    <div class="card-header">
        <h4 *ngIf=" isLoadingGroup">Группа ...загружается</h4>
        <h4 *ngIf="!isLoadingGroup">Группа {{group.title}}</h4>
    </div>

    <div *ngIf="isLoadingGroup" class="card-body">
        <div class='loader'>Loading...</div>
    </div>

    <div *ngIf="!isLoadingGroup" class="card-body">
        <h4>Редактировать группу:</h4>
        <app-group-form
            [group]="group"
            [(isSubmitted)]="isSubmittedGroup"
            (onSubmit)="onSubmit($event)">
        </app-group-form>
    </div>
</div>