<div class="card">
    <div class="card-header">
        <h4 *ngIf="!isLoading">Преподаватель {{teacher.fullName}}</h4>
        <h4 *ngIf="isLoading">Преподаватель ...загружается</h4>
    </div>

    <div *ngIf="isLoading" class="card-body">
        <div class="loader">Loagind...</div>
    </div>

    <div *ngIf="!isLoading" class="card-body">
        <div class="col-12">
            <div class="row justify-content-between">
                <div class="col-9"><h5>Редактировать преподавателя</h5></div>
                <div class="col-3">
                    <div *ngIf="!toggled" (click)="toggled=true;"  class="btn btn-link btn-block btn-sm text-right">Развернуть</div>
                    <div *ngIf="toggled"  (click)="toggled=false;" class="btn btn-link btn-block btn-sm text-right">Свернуть</div>
                </div>
            </div>
        </div>

        <app-teacher-form
            *ngIf="toggled"
            [teacher]="teacher"
            [isSubmitted]="isSubmitted"
            (onSubmit)="updateTeacher($event)"
            >
        </app-teacher-form>

        <hr>

        <app-assigned-subject-add [teacher]="teacher"></app-assigned-subject-add>
        
        <hr>

        <app-assigned-subjects-list
            (onDelete)="deleteAssignedSubject($event)"
            [subjects]="teacher.assignedSubjects"
        ></app-assigned-subjects-list>

    </div>
</div>