<div class="d-flex h-100 justify-content-center">

   <form [formGroup]="loginForm" (ngSubmit)="onSubmit(loginForm.value)" class="form col-sm-10 col-md-6 col-xl-4">
      <h2>Войти</h2>

      <div class="form-group">
         <label for="username">Email</label>
         <input [formControl]="loginForm.controls['email']" [ngClass]="{'is-invalid': !isValid('email') || !serverFormErrors.email.valid}" type="text" class="form-control"
            name="email">
         <div *ngIf="!isValid('email')" class="invalid-feedback">{{formErrors.email.message}}</div>
         <div *ngIf="!serverFormErrors.email.valid" class="invalid-feedback">{{serverFormErrors.email.message}}</div>
      </div>

      <div class="form-group">
         <label for="password">Пароль</label>
         <input [formControl]="loginForm.controls['password']" [ngClass]="{'is-invalid': !isValid('password') || !serverFormErrors.password.valid}" type="password" class="form-control"
            name="password">
         <div *ngIf="!isValid('password')" class="invalid-feedback">{{formErrors.password.message}}</div>
         <div *ngIf="!serverFormErrors.password.valid" class="invalid-feedback">{{serverFormErrors.password.message}}</div>
      </div>

      <div *ngIf="errorMessage" class="form-group">
         <div class="alert alert-danger">{{errorMessage}}</div>
      </div>

      <div class="row">
        <div class='col-12 clearfix'>
            <button [disabled]="!loginForm.valid || isSubmitted" class="btn btn-primary" type="submit">Войти</button>
            <i *ngIf="isSubmitted" class="fa fa-circle-o-notch fa-spin" aria-hidden="true"></i>
        
            <button [disabled]="isSubmitted" class="btn btn-warning float-right" type="reset">Отмена</button>
        </div>
      </div>
   </form>

</div>