.form-container {
   height: 100%;

   display: flex;
   flex-direction: column;
   align-items: center;
   vertical-align: middle;
}

form {
   margin: auto;
}

i {
   margin: auto;
   font-size: 16px;
}