<div class="card">
  <div class="card-header">
      <h4>Группы</h4>
      <div class="card-options">
        <input #groupSearch [disabled]="isLoadingGroupsList" class="form-control" type="text" placeholder="Поиск...">
      </div>
  </div>

  <div *ngIf="!isLoadingGroupsList" class='card-body'>
    <app-group-create class="mb-3"></app-group-create>

    <hr>

    <div *ngIf="pager.pagedItems.length <= 0">
      <div class="text-warning text-center">Ничего не найдено</div>
    </div>

    <div *ngFor="let group of pager.pagedItems" class="row list-item no-gutters" [class.deleted]="group._deleted">
      <div class="col-2 text-center">#{{group.id}}</div>
      <div class="col-4 text-center">{{group.title}}</div>
      <div class="col-2">
        <button [routerLink]="['/group-schedule',group.id]" class="btn btn-sm btn-outline-primary">Расписание</button>
      </div>
      <div class="col-3">
        <button [routerLink]="[group.id]" class="btn btn-sm btn-block btn-outline-primary">Просмотр</button>
      </div>
      <div class="col-1">
        <button (click)="deleteGroup(group);" type="button" class="close" aria-label="Close"></button>
      </div>
    </div>
    <!-- Блок для списка групп -->

    <div class="d-flex row justify-content-center mt-3">
      <app-pagination [pager]="pager"></app-pagination>
    </div>
  </div>

  <div *ngIf="isLoadingGroupsList" class='card-body p-3 d-flex justify-content-center align-content-center'>
    <div class='loader'></div>
  </div>  <!-- Loader -->
</div>
