<div class="card">
        <div class="card-header">
            <div class="row">
                <h4 class="col-6">Группы</h4>
                <div class="col-6"><input #groupSearch class="form-control" type="text" placeholder="Поиск..."></div>
            </div>
        </div>

        <div *ngIf="!isLoadingGroupsList" class='card-body'>
            <app-group-create class="mb-3"></app-group-create>

            <div *ngIf="pager.pagedItems.length <= 0">
                <div class="text-warning text-center">Ничего не найдено</div>
            </div>

            <div *ngFor="let group of pager.pagedItems" class="row list-item" [class.deleted]="group.deleted">
                    <div class="col-2 text-center">#{{group.id}}</div>
                    <div class="col-4 text-center">{{group.title}}</div>
                    <div class="col-2">
                        <button [routerLink]="[group.id]" class="btn btn-sm btn-block btn-outline-primary">Уч. план</button>
                    </div>
                    <div class="col-3">
                        <button [routerLink]="[group.id]" class="btn btn-sm btn-block btn-outline-primary">Просмотр</button>
                    </div>
                    <div class="col-1">
                        <button (click)="deleteGroup(group);" type="button" class="close" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
            </div> <!-- Блок для списка групп -->

            <div class="d-flex row justify-content-center mt-3">
                <app-pagination [pager]="pager"></app-pagination>   
            </div>
        </div>

        <div *ngIf="isLoadingGroupsList" class='card-body'>
                <div class='loader'>Loading...</div>
        </div><!-- Loader -->
</div>