<div class="list-item" [class.deleted]="academicYear._deleted">
    <div class="row justify-content-end">
        <div class="col-6 ">
            <button *ngIf="!toggled" (click)="toggled=true" [disabled]="isLoading" class="text-right btn btn-sm btn-link btn-block">Редактировать</button>
            <button *ngIf="toggled" (click)="toggled=false" [disabled]="isLoading" class="text-right btn btn-sm btn-link btn-block">Отменить</button>
        </div>
    </div>

    <div *ngIf="!toggled">

        <div class="row">
            <div class="col-2">#{{academicYear.id}}</div>
            <div class="col-3">{{academicYear.title}}</div>
            <div class="col-3">{{academicYear.startDate | date}}</div>
            <div class="col-3">{{academicYear.endDate | date}}</div>
            <div class="col-1">
                <button (click)="onDelete.next(academicYear);" type="button" class="close" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        </div>

        <div *ngFor="let semester of academicYear.semesters" class="col-12 alert-secondary">
            <div class="row">
                <div class="col-2">#{{semester.id}}</div>
                <div class="col-3">{{semester.number}}</div>
                <div class="col-3">{{semester.startDate | date}}</div>
                <div class="col-3">{{semester.endDate | date}}</div>
                <div class="col-1">
                    <button (click)="onDelete.next(academicYear);" type="button" class="close" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div *ngIf="toggled">
        <app-academic-year-form [academicYear]="academicYear"></app-academic-year-form>

        <app-semester-form *ngFor="let semester of academicYear.semesters" [semester]="semester"></app-semester-form>
    </div>
</div>