<div class="row">
    <div class="col-8">
        <h5>Добавить семестр:</h5>
    </div>
    <div class="col-4">
        <button *ngIf="!toggled" (click)="toggled=!toggled" class="btn btn-link btn-block btn-sm text-right">Развернуть</button>
        <button *ngIf="toggled" (click)="toggled=!toggled"  class="btn btn-link btn-block btn-sm text-right">Свернуть</button>
    </div>
</div>

<app-semester-form
    *ngIf="toggled"
    [academicYear]="academicYear"
    (onSubmit)="createSemester($event)"
    [isSubmitted]="isSubmitted"
    [serverErrors]="serverErrors">
</app-semester-form>
