<div class="card">
    <div class="card-header">
        <div class="row">
            <div class="col">
                <h4>Учебные годы</h4>
            </div>
            <div class="col">
                <input #acYearSearch [disabled]="isLoading" type="text" class="form-control" placeholder="Поиск...">
            </div>
        </div>
    </div>

    <div *ngIf="!isLoading" class="card-body">
        <app-academic-year-create></app-academic-year-create>

        <div *ngIf="pager.pagedItems.length <= 0">
            <div class="text-warning text-center">Ничего не найдено</div>
        </div>

        <app-academic-year-item
            *ngFor="let academicYear of pager.pagedItems"
            [academicYear]="academicYear"
        >
        </app-academic-year-item>

        <div class="d-flex row justify-content-center mt-3">
            <app-pagination [pager]="pager"></app-pagination>
        </div>
    </div>

    <div *ngIf="isLoading" class="card-body">
        <div class='loader'>Loading...</div>
    </div>
    <!-- Loader -->
</div>