<form class="col-12" *ngIf="!isSubmitted" [formGroup]="formGroup" (ngSubmit)="submitForm(formGroup.value)">
  <div class="form-group">
    <label>Введите дату занятия:</label>
    <div class="input-group">
      <input class="form-control" placeholder="yyyy-mm-dd" [ngClass]="{'is-invalid': !isValid('date')}" [formControl]="formGroup.controls['date']"
        ngbDatepicker #d="ngbDatepicker">
      <div class="input-group-append">
        <button type="button" class="btn btn-outline-secondary" (click)="d.toggle()">
          <img src="assets/img/calendar-icon.svg" style="width: 1.2rem; height: 1rem; cursor: pointer;" />
        </button>
      </div>
      <div [hidden]="isValid('date', 'required')"     class="invalid-feedback">{{formErrors.required}}</div>
      <div [hidden]="isValid('date', 'dateOverflow')" class="invalid-feedback">{{formErrors.date.dateOverflow}}</div>
    </div>
  </div><!-- Date input -->

  <div class="form-group">
    <label>Выберите тип занятия</label>
    <select [formControlName]="'type'" class='form-control'>
      <option value="1">Лекция</option>
      <option value="2">Практика</option>
      <option value="3">Контрольная работа</option>
      <option value="4">Экзамен</option>
    </select>
  </div>

  <div class="form-group">
    <label>Введите вес оценки:</label>
    <input class="form-control" [formControlName]="'weight'">
  </div>

  <div class="form-group">
    <label>Введите минимальное значение оценки:</label>
    <input class="form-control" [formControlName]="'minGradeValue'">
  </div>

  <div class="form-group">
    <label>Введите максимальное значение оценки:</label>
    <input class="form-control" [formControlName]="'maxGradeValue'">
  </div>

  <div class="form-group">
    <label>Описание занятия:</label>
    <textarea [formControl]="formGroup.controls['description']" class="form-control" rows="3"></textarea>
  </div>

  <div class="form-group justify-space-between">
    <button class="btn btn-outline-success" [disabled]="!formGroup.valid" type="submit">Сохранить</button>
    <button class="btn btn-outline-warning" [disabled]="!formGroup.valid" (click)="onCancel.next()">Отменить</button>
  </div>
</form>

<div *ngIf="isSubmitted" class="row">
  <div class="sk-wave">
    <div class="sk-rect sk-rect1"></div>
    <div class="sk-rect sk-rect2"></div>
    <div class="sk-rect sk-rect3"></div>
    <div class="sk-rect sk-rect4"></div>
    <div class="sk-rect sk-rect5"></div>
  </div>
</div> <!-- Preloader -->
