<div class="container-fluid">
     <div class="row justify-content-center mt-3">

        <div class='col-3 col-lg-2'>
            <ul class='list-group'>
                <li class='list-group-item'
                    [routerLink]="['groups']"
                    [routerLinkActive]="['active']">
                    <a class='btn btn-link btn-block'>Группы</a>
                </li>
                <li class='list-group-item'
                    [routerLink]="['students']"
                    [routerLinkActive]="['active']">
                    <a class='btn btn-link btn-block'>Cтуденты</a>
                </li>
                <li class='list-group-item disabled'
                    [routerLink]="['teachers']"
                    [routerLinkActive]="['active']">
                    <a class='btn btn-link btn-block'>Преподаватели</a>
                </li>
                <li class='list-group-item disabled'
                    [routerLink]="['subjects']"
                    [routerLinkActive]="['active']">
                    <a class='btn btn-link btn-block'>Предметы</a>
                </li>
            </ul>
        </div>

        <div class='col-9 col-lg-10 col-xl-8'>
            <router-outlet></router-outlet>
        </div>

    </div>
</div>