<div class="page-header">
  <h1 class="page-title">
    Академическая группа
  </h1>
</div>


<div class="card" *ngIf="!isLoadingGroup">
  <div class="card-header">
    <h5><span class="text-muted">Группа</span> <b>{{group.title}}</b></h5>

    <div class="card-options">
      <button (click)="toggledAddBlock = !toggledAddBlock" class="btn" [ngClass]="{'btn-outline-primary': toggledAddBlock, 'btn-outline-warning': !toggledAddBlock}">
        {{toggledAddBlock? 'Добавить предмет' : 'Отменить'}}
      </button>
    </div>
  </div>


  <div class="card-body" *ngIf="!toggledAddBlock">
    <app-schedule-add [group]="group" (onCreate)="addScheduleElement($event);"></app-schedule-add>
  </div>


  <div class="card-body">
    <div class="card mb-0">
      <div class="card-body">
        <app-years-list (onSelect)="setSemester($event);" [years]="group.studyingYears" [semesterIdFromUrlStringToSelect]="semesterId">
        </app-years-list>
      </div>
    </div>


    <div *ngIf="displayTeaches.length > 0" class="row">
      <app-schedule-item class="col-12 col-sm-6 col-md-4 col-lg-3 mt-3" *ngFor="let teaches of displayTeaches" [teaches]="teaches"
        [moderAccess]="moderAccess">
      </app-schedule-item>
    </div>

    <div *ngIf="displayTeaches.length <= 0" class="d-flex justify-content-center p-5">
      <div class="text-warning">Элементы расписания отсутствуют.</div>
    </div>
  </div>
  </div>


<div class="card" *ngIf="isLoadingGroup">
  <div class="card-body d-flex justify-content-center align-items-center">
    <div class="mt-5 mb-5">
      <div class="loader"></div>
    </div>
  </div>
</div>
