<div class="col-12 mt-4">
    <h5>Студенты в группе:</h5>
    <div *ngFor="let student of students" class="row list-item no-gutters" [class.deleted]="student.deleted">
        <div class="col-1 text-center">#{{student.id}}</div>
        <div class="col-4 text-center">{{student.shortFullName}}</div>
        <div class="col-3 text-center">{{student.createdAt | date}}</div>
        <div class="col-4">
            <button class="btn btn-sm btn-outline-warning btn-block"
                (click)="onDelete.next(student);">Убрать из группы</button>
        </div>
    </div>
</div>