@font-face {
  src: url("./assets/fonts/RobotoCondensed-Regular.ttf") format("truetype");
  font-family: "RobotoCondensed-Regular";
}
  
@font-face {
  src: url("./assets/fonts/RobotoCondensed-Bold.ttf") format("truetype");
  font-family: "RobotoCondensed-Bold";
}

@import './assets/styles/index';
@import '~perfect-scrollbar/css/perfect-scrollbar.css';

$header-height: 56px;
$footer-height: 26px;

nav {
  height: $header-height;
}

html,
body {
  height: 100%;
  min-height: 100%;

  overflow-x: hidden;
  overflow-y: hidden;
}

app-layout {
  display: flex;
  flex-direction: column;
  flex: 1 0;

  height: 100%;
  min-height: 100%;
}

.app {
  &-body{
    flex-grow: 1;
    overflow-x: hidden;
    overflow-y: hidden;

    height:     calc(100% - #{$header-height} - #{$footer-height});
    min-height: calc(100% - #{$header-height} - #{$footer-height});
  }
  &-footer{
    display: flex;
    height: $footer-height;
  }
}

.app-body>.container-fluid {
  height: 100%;
}