<div [hidden]="isHidden" class="csscssload-load-frame">
  <div class="cssload-dot"></div>
  <div class="cssload-dot"></div>
  <div class="cssload-dot"></div>
  <div class="cssload-dot"></div>
  <div class="cssload-dot"></div>
  <div class="cssload-dot"></div>
  <div class="cssload-dot"></div>
  <div class="cssload-dot"></div>
  <div class="cssload-dot"></div>
  <div class="cssload-dot"></div>
  <div class="cssload-dot"></div>
  <div class="cssload-dot"></div>
  <div class="cssload-dot"></div>
  <div class="cssload-dot"></div>
  <div class="cssload-dot"></div>
  <div class="cssload-dot"></div>
  <div class="cssload-dot"></div>
  <div class="cssload-dot"></div>
  <div class="cssload-dot"></div>
  <div class="cssload-dot"></div>
  <div class="cssload-dot"></div>
  <div class="cssload-dot"></div>
  <div class="cssload-dot"></div>
  <div class="cssload-dot"></div>
  <div class="cssload-dot"></div>
</div>