<header>

    <nav class="navbar navbar-expand-md navbar-light bg-light">
        <a class="navbar-brand" href="#">journal.me</a>
        <button (click)="isNavbarCollapsed=!isNavbarCollapsed" class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div [ngbCollapse]="isNavbarCollapsed" class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" [routerLink]="['/']">
                        Главная
                    </a>
                </li>
                <li class="nav-item" *ngIf="currentUser && currentUser.isAdmin()">
                    <a [routerLink]="['/admin']" class="nav-link" href="#">Админ-панель</a>
                </li>
                <li class="nav-item" *ngIf="currentUser && (currentUser.isTeacher() || currentUser.isStudent())">
                    <a class="nav-link">Subjects</a>
                </li>
                <li ngbDropdown class="nav-item dropdown">
                    <a ngbDropdownToggle class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Выпадающий список
                    </a>
                    <div ngbDropdownMenu class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="#">Action</a>
                        <a class="dropdown-item" href="#">Another action</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">Something else here</a>
                    </div>
                </li>
            </ul>
            
            <div *ngIf="currentUser" ngbDropdown placement="bottom-right" class="nav-item dropdown">
                <a ngbDropdownToggle class="btn btn-outline-primary" #navbarDropdown role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    {{currentUser.shortFullName}}
                </a> 
                <div ngbDropdownMenu  class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" routerLink="/profile">Перейти к профилю</a>
                        <div class="dropdown-divider"></div>
                    <a class="dropdown-item" routerLink="/login">Выйти</a>
                </div>
            </div>

            <div *ngIf="!currentUser">
                <a class="btn btn-outline-default" routerLink="/login">Войти</a>
            </div>
        </div>
    </nav>

</header>


<div class="app-body">
    <div class="main container-fluid">
        <app-routing-animation></app-routing-animation>
        <router-outlet></router-outlet>
    </div>
</div>


<footer class="app-footer .bg-light">
    <span>Powered by MXS34&copy;</span>
</footer>