<header>

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Journal</a>
        <button (click)="isNavbarCollapsed=!isNavbarCollapsed" class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div [ngbCollapse]="isNavbarCollapsed" class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" [routerLink]="['/']">Home
                        <span class="sr-only">(current)</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Link</a>
                </li>
                <li ngbDropdown class="nav-item dropdown">
                    <a ngbDropdownToggle class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Dropdown
                    </a>
                    <div ngbDropdownMenu class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="#">Action</a>
                        <a class="dropdown-item" href="#">Another action</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">Something else here</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled" href="#">Disabled</a>
                </li>
            </ul>
            
            <div *ngIf="currentUser" ngbDropdown placement="bottom-right" class="nav-item dropdown">
                <a ngbDropdownToggle class="btn btn-primary" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    {{currentUser.name}} {{currentUser.surname}} {{currentUser.patronymic}}
                </a>
                <div ngbDropdownMenu  class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" routerLink="/profile">View Profile</a>
                        <div class="dropdown-divider"></div>
                    <a class="dropdown-item" routerLink="/login">Exit</a>
                </div>
            </div>

            <div *ngIf="!currentUser">
                <a class="btn btn-default" routerLink="/login">Login</a>
            </div>
        </div>
    </nav>

</header>


<div class="app-body">
    <div class="main container-fluid">
        <router-outlet></router-outlet>
    </div>
</div>


<footer class="app-footer .bg-light">
    <span>Powered by MXS34&copy;</span>
</footer>