<div class="row w-100">
    <div class="col-12">
        <div *ngIf="!isSubmitted" class="row justify-content-between">
            <div class="col-6">
                <h5>Добавить группу:</h5>
            </div>
            <div class="col-3">
                <button *ngIf="!toggled" (click)="toggled=!toggled" class="btn btn-link btn-block btn-sm text-right">Развернуть</button>
                <button *ngIf="toggled" (click)="toggled=!toggled"  class="btn btn-link btn-block btn-sm text-right">Свернуть</button>
            </div>
        </div>

        <app-group-form *ngIf="toggled"
            [isSubmitted]="isSubmitted"
            (onSubmit)="onSubmit($event)">
        </app-group-form>
    </div>
</div>
